@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Medium.ttf");
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(150, 146, 146);
}
.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
.photo {
    flex: 1;
    background-color: rgb(117, 82, 82);
}
.introduction {
    background-color: rgb(117, 82, 82);
    flex-grow: 1;
    font-size: 60px;
}
.nav {
    background-color: rgb(117, 82, 82);
}
.nav-list {
    justify-content: flex-end;
    align-items: normal;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 69px;
    font-size: 40px;
    color: rgb(150, 146, 146);
    cursor: pointer;
    transition: 4s;
}
.nav-item a {
    color: rgb(150, 146, 146);
    text-decoration: none;
    transition: 1s;
}
.nav-item a:hover {
    color: rgb(230, 20, 107);
}
html {
    scroll-behavior: smooth;
}
